.searchresultspage {
	color: white;
	margin-left: 2em;
}

.searchfield {
  display: flex; 
  flex-direction: row;
  align-items: center;
  margin-left: 9px;
}

.searchresults {
	margin-left: 10px;
}

#searchbar {
  width: 50em;
}

#searchbutton {
	width: 8em;
}

.tropes {
	margin-top: 2em;
}